nodered/serial-to-influxdb.json
[{"id":"73756698.5ec078","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e2950cf2.c8277","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"6b4c9638.962008","type":"serial in","z":"73756698.5ec078","name":"serial","serial":"e2950cf2.c8277","x":70,"y":40,"wires":[["1ea480d2.705e2f"]]},{"id":"a98a170d.80e538","type":"debug","z":"73756698.5ec078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":40,"wires":[]},{"id":"1ea480d2.705e2f","type":"json","z":"73756698.5ec078","name":"","property":"payload","action":"","pretty":false,"x":250,"y":40,"wires":[["a98a170d.80e538"]]}]